.starter-template {
  text-align: center;
  margin-top: 10rem;

  .lead {
    font-weight: 200;
  }
}

.navbar-nav{
  line-height: 60px;
}

.bg-faded {
    background-color: #e2e2e2;
}

#start-header,
#about,
#schedule,
#wrapperMaps,
#faq,
#sponsors,
#participants,
#projects,
#contact{
  padding: 100px 0;
}

// Startscreen
#start-header{
  background: url('../assets/images/header-background.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

#start-header h1{
  font-size: 4em;
  font-weight: bold;
}

#start-header p{
  font-size: 1.3em;
  font-weight: 400;
  max-width: 900px;
  margin: 0 auto;
}

#start-into{
  padding: 80px 0 140px 0;
  text-align: center;
}

#start-into h1{
  text-align: center;
}

#start-into h3{
  line-height: 150%;
}

#start-into img{
  padding: 40px 0 40px 0;
  max-width: 600px;
}

#countdown{
  font-size: 2em;
  margin: 20px 0 0 0;
  font-weight: bold;
}

#startNow{
  padding: 40px 0 0 0;
}

// Footer
#footer-sponsors-support{
  margin: 120px 0;
}

#footer-sponsors-support a{
  color: #000;
  text-decoration: underline;
}

#footer-sponsors-support .footer-title-h3{
  padding: 40px 0;
}

#footer-sponsors-support .footer-grey{
  color: #c1c1c1;
}

#footer-sponsors-support .footer-legal{
  padding: 130px 0 0px 0;
}

.footer-small{
  padding: 20px 0 0 0;
  font-size: 13px;
  color: #000;
}

.nav-item{
  padding-left: 8px;
  padding-right: 8px;
}

// About
#about{
  padding: 150px 0;
}

// Schedule
#schedule{
  padding: 150px 0;
}

#schedule h2{
  padding: 0 0 60px 0;
}

#timetable{
  margin: 0 auto;
  padding: 30px;
}

.red-table-row{
  background: #E02129;
}

// Google maps
#wrapperMaps {
  position: static;
}

#wrapper { position: relative; }
#over_map {
  position: absolute;
  top: 100px;
  left: 10px;
  z-index: 99;
  width: 100%;

}


.location-card {
    background: #fff;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
    margin-bottom: 50px;
    float: left;
    width: 100%;
    position: relative;
    z-index: 9999;
}

#map{
  width: 100%;
  height: 600px;
}

.white-background{
  background: #fff;
  padding: 20px;
}

// faq
#faq{
  padding: 150px 0;
}

#faq h2{
  padding: 0 0 100px 0;
  text-align: center;
}

#faq .col-md-6{
  padding: 15px 20px;
}

// Sponsors
#sponsors{
  padding: 150px 0;
}

#sponsors h2{
  padding: 0 0 100px 0;
}

// Participants
#participants{
  padding: 150px 0;
}

#participants-text{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.typeformButton{
    padding: 40px 0 40px 0;
}

#projects{
  padding: 150px 0;
}

#contact{
  padding: 150px 0;
  text-align: center;
}

#contact-text{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
