<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>4 Hour Venture - Powered by MENUX</title>
    <meta name="description" content="">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onload="loadScript()">

    <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
        <div id="app" class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <a class="navbar-brand page-scroll" href="#start-header">
              <img src="{{site.baseurl}}/assets/images/header-logo.png" width="100px" />
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">Überblick</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#schedule">Ablauf</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#location">Veranstaltungsort</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#sponsors">Sponsoren</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#participants">Mitmachen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>

    {{ content }}

    <div class="container">
        <footer id="footer-sponsors-support">

            <p class="text-center footer-legal">
                Copyright &copy; 4 Hour Venture Events.
                <span class="footer-grey">Ein Projekt der MENUX GmbH</span> |
                <a href="https://www.menux.de/impressum" target="_blank">Impressum</a> |
                <a href="/datenschutz">Datenschutz</a>
                <br />
                <span class="footer-small">Bearbeite diese Seite auf <i class="fa fa-github" aria-hidden="true"></i>
          <a href="https://github.com/MENUX/4-Hour-Venture" target="_blank">GitHub</a>.</span>
            </p>

        </footer>
    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- JavaScript -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>
